@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700);

// Fonts
$font-default: 'Source Sans Pro', sans-serif;

// Colors
$purple-primary: #2F2936;

$yellow-primary: #E29820;

$text-dark-primary: $purple-primary;
$text-light-primary: #FFF;

// Breakpoints
@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}
