@import '_constants.scss';

body{
  margin: 0;
  font-family: $font-default;
  font-size: 16px;
  font-weight: 400;
  color: $text-dark-primary;
}

.light{
  font-weight: 300;
}

.bold{
  font-weight: 700;
}

.italic{
  font-style: oblique;
}

.topic-hr{
  margin: 20px auto;
  width: 60px;
  height: 3px;
  background: $purple-primary;
}

.react-parallax-bgimage{
  max-width: none !important;
}

#content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translateX(0);
  transition: .6s;

  @include breakpoint(tablet){
    transform: translateX(0) !important;
  }
}

#loading{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #EEE;
  opacity: 1;
  z-index: 1000;
  transition: .3s;

  &.hide{
    opacity: 0;
  }
}
