@import '_constants.scss';

header{
  position: fixed;
  overflow: hidden;
  width: 100vw;
  transform: translateX(0);
  z-index: 1;
  transition: 0.6s;

  &.sm{
    position: fixed;
    background: #FFF;
    border-bottom: 1px solid #EEE;

    #logo{
      padding: 14px 30px;

      img{
        height: 50px;
      }
    }

    nav{
      .nav-item{
        line-height: 82px;
      }
    }

    #nav-toggle{
      height: 82px;
    }
  }

  #logo{
    float: left;
    padding: 24px 30px;
    cursor: pointer;

    img{
      height: 60px;
      transition: height 0.2s;
    }
  }

  nav{
    display: none;
    float: right;
    padding: 0 30px;
    font-size: 14px;
    letter-spacing: 0.5px;

    .nav-item{
      display: inline-block;
      padding: 0 14px;
      line-height: 112px;
      color: $text-dark-primary;
      cursor: pointer;
      transition: 0.2s;

      &:hover{
        color: $text-dark-primary;
        opacity: 0.45;
      }

      &.active{
        color: $yellow-primary;
      }
    }

    @include breakpoint(tablet) {
      display: block;
    }
  }

  #nav-toggle{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    height: 111px;
    cursor: pointer;
    transition: .2s;

    @include breakpoint(tablet){
      display: none;
    }
  }
}
