@import '_constants.scss';

#sidebar{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
  background: $text-dark-primary;
  color: $text-light-primary;
  transition: .6s;

  @include breakpoint(tablet){
    display: none;
  }

  .nav-item{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    color: $text-light-primary;
    cursor: pointer;
    transition: .3s;

    &:hover{
      color: $yellow-primary;
    }
  }

  .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;

    &:hover{
      background: $yellow-primary
    }
  }
}
