@import 'global/_constants.scss';

#blogs{
  overflow: hidden;
  padding: 60px 0;
  min-height: 800px;
  text-align: center;

  .headline{
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  .blogs{
    margin-top: 40px;

    .blog-item{
      background: #FFF;

      .blog-image{
        height: 430px;
        background-position: center;
        background-size: cover;
      }

      .blog-info{
        padding: 30px;
        text-align: left;

        .blog-title{
          font-weight: 700;
          font-size: 24px;
        }

        .blog-content{
          margin-top: 20px;
          font-size: 18px;

          p{
            margin-bottom: 14px;
          }
        }

        .btn-read-more{
          display: inline-block;
          margin-top: 6px;
          padding: 10px 20px;
          border: 0;
          background: $text-dark-primary;
          font-size: 14px;
          color: $text-light-primary;
          text-transform: uppercase;
          transition: 0.3s;

          &:hover{
            background: $yellow-primary;
          }
        }

        .published-via{
          margin-top: 24px;
          font-size: 12px;
          color: #666;
          text-transform: uppercase;
          opacity: 0.75;

          .logo{
            margin-top: 4px;

            img{
              height: 30px;
            }
          }
        }
      }
    }
  }

  .view-all{
    margin-top: 20px;

    .text{
      font-size: 14px;
      color: #666;
      text-transform: uppercase;
    }

    .dot{
      font-size: 32px;
    }

    .btn-view-all{
      display: inline-block;
      margin-top: 20px;
      padding: 14px 20px;
      background: $text-dark-primary;
      letter-spacing: 0.5px;
      color: $text-light-primary;
      text-transform: uppercase;
      transition: 0.3s;

      &:hover{
        background: $yellow-primary;
      }
    }
  }

  .shadow{
    opacity: 0;
  }
}
