@import 'global/_constants.scss';

#contact{
  overflow: hidden;
  text-align: center;
  color: $text-light-primary;

  .text{
    padding: 100px 20px;

    .headline{
      font-size: 24px;
      letter-spacing: 1.5px;
    }

    .topic-hr{
      background: #FFF;
    }

    .contact-bar{
      margin-top: 30px;

      .contact-item{
        display: inline-block;
        position: relative;
        width: 36px;
        height: 36px;
        margin: 0 5px;
        border-radius: 50%;
        background: #FFF;
        opacity: 0.5;
        transition: 0.3s;

        &:hover{
          opacity: 1;
        }

        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
