@import 'global/_constants.scss';

#profile{
  overflow: hidden;
  padding: 60px 0 55px;
  min-height: 900px;
  background: #EEE;
  text-align: center;

  .profile-img{
    width: 120px;
    height: 120px;
    border: 5px solid #FFF;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  }

  .fullname{
    margin-top: 20px;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  .nickname{
    padding: 0 20px;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #666;
  }

  .about-me{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 720px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #666;
  }

  .highlights{
    overflow: hidden;
    margin-top: 60px;
    padding: 0 20px;

    .highlight-item{
      .highlight-box{
        padding: 40px;
        width: 100%;
        background: #FFF;
        text-align: left;

        .highlight-icon{
          background: #CCC;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }

        .highlight-name{
          margin-top: 20px;
          font-size: 20px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        .highlight-detail{
          margin-top: 10px;
          color: #666;
        }
      }
    }
  }

  .shadow{
    opacity: 0;
  }
}
