@import 'global/_constants.scss';

#promo-banner{
  overflow: hidden;
  text-align: center;

  .react-parallax-bgimage{
    margin-top: 100px;
  }

  .react-parallax-content{
    position: relative;
    height: 100vh;
  }

  #promo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 1px;

    .main-text{
      font-size: 32px;
    }

    .sub-text{
      margin-top: 8px;
    }
  }
}
