@import 'global/_constants.scss';

#skills{
  overflow: hidden;
  overflow: hidden;

  .text {
    display: flex;
    flex-direction: row;
    top: 0;
    height: 100%;
    margin: auto;
    color: $text-light-primary;

    > .headline{
      flex: 1 0 auto;
      display: none;
      justify-content: flex-end;
      align-items: center;
      padding: 30px;
      font-size: 32px;
      letter-spacing: 2px;
      text-transform: uppercase;

      @include breakpoint(tablet) {
    		display: flex;
    	}
    }

    .skill-groups{
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px;
      min-height: 430px;
      background: rgba(0, 0, 0, 0.65);

      .headline{
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        font-size: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include breakpoint(tablet){
          display: none;
        }
      }

      .skill-group-item{
        .group-name{
          text-transform: uppercase;
        }

        .skills{
          .skill-item{
            width: 100%;
            margin-top: 10px;
            background: rgba(255, 255, 255, 0.1);
            font-size: 12px;
            color: $text-dark-primary;
            transition: 0.2s;

            @include breakpoint(laptop){
              width: 75%;
            }

            .skill-name{
              display: inline-block;
              padding: 3px 6px 4px;
              width: auto;
              background: rgba(255, 255, 255, 1);
              white-space: nowrap;
            }

            .skill-level{
              display: inline-block;
              margin-left: 10px;
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }

        &:not(:last-child){
          margin-bottom: 30px;
        }
      }
    }

    &.shadow{
      > .headline{
        opacity: 0 !important;
      }

      .skill-groups > div{
        opacity: 0 !important;
      }
    }
  }
}
