@import 'global/_constants.scss';

#works{
  overflow: hidden;
  padding-top: 60px;
  min-height: 529px;
  text-align: center;

  .headline{
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  .sub-headline{
    color: #666;
  }

  .works{
    overflow: hidden;
    margin: 0;
    margin-top: 40px;

    .work-item{
      display: flex;
      position: relative;
      height: 350px;
      padding: 0;
      background-position: center;
      background-size: cover;

      .text{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding: 20px;
        background: rgba(0, 0, 0, 0.5);
        text-align: left;
        color: $text-light-primary;
        transition: .6s;

        .work-topic{
          font-size: 24px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        .work-description{
          height: 0;
          font-size: 14px;
          letter-spacing: 0.2px;
          transition: .15s ease-out;
        }

        .work-image{
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 90%;
          transition: .6s;
        }

        &:hover{
          background: rgba(0, 0, 0, 0.8);

          .work-description{
            height: 280px;
            transition: 0.15s ease-in;
          }

          .work-image{
            top: 40%;
          }
        }
      }
    }
  }

  .shadow{
    opacity: 0;
  }
}
